@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

body {
  font-size: 16px;
  color: #333333;
  font-family: "ヒラギノ明朝 ProN", serif;
  line-height: 1.6875;
}

img {
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

.button_parent {
  text-align: center;
  margin-top: 40px;
}

.button_parent .button {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #3EA1D1;
  background: #fff;
  color: #3EA1D1;
  text-align: center;
  padding: 10px 54px;
  font-size: 14px;
  letter-spacing: .1em;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button_parent .button.-active {
  color: #fff;
  background: #3EA1D1;
}

@media screen and (min-width: 768px) {
  .button_parent .button:not(.submit):hover {
    color: #fff;
    background: #3EA1D1;
    opacity: 1;
    visibility: visible;
  }
}

.section_title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .section_title {
    font-size: 30px;
  }
}

.section_title::after {
  content: "";
  display: block;
  background: #3EA1D1;
  width: 60px;
  height: 1px;
  margin: 16px auto 0;
}

.header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 20;
}

.drawer--right .header .drawer-hamburger {
  right: 3px;
}

.header .drawer-hamburger-icon {
  background-color: #3EA1D1;
}

.drawer-open .header .drawer-hamburger-icon {
  background-color: transparent;
}

.header .drawer-hamburger-icon::before, .header .drawer-hamburger-icon::after {
  background-color: #3EA1D1;
}

.header-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header-inner {
    height: 60px;
  }
}

.header__logo {
  margin: 0;
  line-height: 1;
}

.header__logo img {
  width: 120px;
  vertical-align: top;
}

.header__logo a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-nav {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header-nav {
    top: 60px;
    background-color: #3EA1D1;
    padding: 24px 0;
  }
}

.header-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header-nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .header-nav-list li + li {
    margin-left: 30px;
  }
}

.header-nav-list .header-nav-item .header-nav-item-link {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #333333;
  display: block;
  position: relative;
  height: 70px;
  line-height: 70px;
  letter-spacing: .1em;
}

@media screen and (max-width: 767px) {
  .header-nav-list .header-nav-item .header-nav-item-link {
    font-size: 18px;
    text-align: right;
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header-nav-list .header-nav-item .header-nav-item-link {
    -webkit-transition: color .4s;
    transition: color .4s;
  }
  .header-nav-list .header-nav-item .header-nav-item-link:hover {
    opacity: 1;
    color: #3EA1D1;
    visibility: visible;
  }
}

.mainvisual {
  padding-top: 70px;
}

@media screen and (max-width: 767px) {
  .mainvisual {
    padding-top: 60px;
  }
}

.top {
  position: relative;
}

@media screen and (max-width: 767px) {
  .top-img {
    padding-top: 120%;
    background: url(../img/SP/top-sp.png) center center/cover;
  }
}

@media screen and (min-width: 768px) {
  .top-img {
    padding-top: 55%;
    background: url(../img/top-pc.png) top right/82.5% no-repeat;
  }
}

@media screen and (max-width: 767px) {
  .top-message {
    margin-top: 31px;
  }
}

@media screen and (min-width: 768px) {
  .top-message {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: #fff;
    padding: 82px 44px 90px 40px;
  }
}

.top-message .main_title1 {
  font-size: 26px;
  font-weight: bold;
}

.top-message .main_title2 {
  margin-top: 18px;
}

.concept {
  margin-top: 160px;
}

@media screen and (max-width: 767px) {
  .concept {
    margin-top: 96px;
  }
}

.concept-inner {
  margin-top: 64px;
}

@media screen and (max-width: 767px) {
  .concept-inner {
    margin-top: 46px;
  }
}

@media screen and (min-width: 768px) {
  .concept-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .concept_left {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media screen and (max-width: 767px) {
  .concept_right {
    margin-top: 35px;
  }
}

@media screen and (min-width: 768px) {
  .concept_right {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-left: 6.6667%;
  }
}

.concept_right .concept_right_message-title {
  font-size: 20px;
  font-weight: bold;
}

.concept_right .concept_right_message-text {
  margin-top: 36px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .concept_right .concept_right_message-text {
    margin-top: 20px;
  }
}

.feature {
  margin-top: 160px;
}

@media screen and (max-width: 767px) {
  .feature {
    margin-top: 96px;
    max-width: 340px;
  }
}

.feature-list {
  margin-top: 64px;
}

@media screen and (max-width: 767px) {
  .feature-list {
    margin-top: 46px;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .feature-list .feature-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 28.3333%;
        -ms-flex: 0 0 28.3333%;
            flex: 0 0 28.3333%;
  }
}

.feature-list .feature-item .feature-item-link {
  display: block;
  color: #333333;
  background: #fff;
  -webkit-box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
}

@media screen and (min-width: 768px) {
  .feature-list .feature-item .feature-item-link:hover .feature-item-img > img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.feature-list .feature-item .feature-item-img {
  overflow: hidden;
}

.feature-list .feature-item .feature-item-img > img {
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.feature-list .feature-item .feature-item-body {
  text-align: center;
  font-weight: bold;
  padding: 26px 12px;
}

@media screen and (max-width: 767px) {
  .feature-item + .feature-item {
    margin-top: 49px;
  }
}

.visual2 {
  margin-top: 160px;
  position: relative;
  padding: 120px 0;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .visual2 {
    margin-top: 96px;
    background: url(../img/SP/bg.png) center center/cover;
    padding: 176px 0 52px;
  }
}

@media screen and (min-width: 768px) {
  .visual2 {
    background: url(../img/bg.png) center center/cover;
  }
}

.visual2::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.12);
}

.visual2-inner {
  position: relative;
}

.visual2-inner .visual2-title {
  font-size: 22px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .visual2-inner .visual2-title {
    font-size: 20px;
  }
}

.visual2-inner .visusal2-text {
  margin-top: 28px;
}

@media screen and (max-width: 767px) {
  .visual2-inner .visusal2-text {
    font-size: 14px;
    margin-top: 22px;
    line-height: 1.7143;
  }
}

.products {
  margin-top: 160px;
  max-width: 940px;
}

@media screen and (max-width: 767px) {
  .products {
    margin-top: 96px;
    max-width: 340px;
    padding: 0 58px;
  }
}

.products-list {
  margin-top: 64px;
}

@media screen and (max-width: 767px) {
  .products-list {
    margin-top: 46px;
  }
}

@media screen and (min-width: 768px) {
  .products-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .products-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 27.6%;
        -ms-flex: 0 0 27.6%;
            flex: 0 0 27.6%;
  }
}

.products-item .products-item-link {
  display: block;
  color: #333333;
  font-size: 14px;
  background: #fff;
}

@media screen and (min-width: 768px) {
  .products-item .products-item-link:hover .products-item-img > img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.products-item .products-item-img {
  overflow: hidden;
}

.products-item .products-item-img > img {
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.products-item .products-item-body {
  margin-top: 22px;
}

.products-item .products-item-body .yen {
  color: #989898;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .products-item + .products-item {
    margin-top: 40px;
  }
}

.news {
  margin-top: 160px;
  max-width: 1040px;
}

@media screen and (max-width: 767px) {
  .news {
    margin-top: 96px;
    padding: 0 32px;
  }
}

.news-list {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .news-list {
    margin-top: 25px;
  }
}

.news-item {
  border-bottom: 1px solid #E0E0E0;
}

.news-item .news-item-link {
  color: #333333;
  font-size: 14px;
  padding: 22px 0;
  display: block;
}

@media screen and (max-width: 767px) {
  .news-item .news-item-link {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .news-item .news-item-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.news-item .news-item-link:hover .news-item-img > img {
  -webkit-transform: translate(-50%, -50%) scale(1.05);
          transform: translate(-50%, -50%) scale(1.05);
}

@media screen and (min-width: 768px) {
  .news-item .news-item-link .news-item_left {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 260px;
        -ms-flex: 0 0 260px;
            flex: 0 0 260px;
  }
}

@media screen and (max-width: 767px) {
  .news-item .news-item-link .news-item_right {
    margin-top: 21px;
  }
}

@media screen and (min-width: 768px) {
  .news-item .news-item-link .news-item_right {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-left: 40px;
  }
}

.news-item .news-item-link .news-item_right .news-item-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 4px;
}

@media screen and (max-width: 767px) {
  .news-item .news-item-link .news-item_right .news-item-title {
    font-size: 16px;
  }
}

.news-item .news-item-link .news-item_right .news-item-text {
  color: #888;
  margin-top: 16px;
  line-height: 1.7143;
}

.news-item-img {
  background: #000;
  padding-top: 61.538%;
  position: relative;
  overflow: hidden;
}

.news-item-img > img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.concept2 {
  margin-top: 160px;
}

@media screen and (max-width: 767px) {
  .concept2 {
    margin-top: 96px;
  }
}

@media screen and (max-width: 767px) {
  .concept2-inner {
    margin-top: 46px;
  }
}

@media screen and (min-width: 768px) {
  .concept2-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 768px) {
  .concept2_left {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media screen and (max-width: 767px) {
  .concept2_right {
    margin-top: 34px;
  }
}

@media screen and (min-width: 768px) {
  .concept2_right {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-right: 6.6667%;
  }
}

.concept2_right .concept2_right_message-title {
  font-size: 28px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .concept2_right .concept2_right_message-title {
    font-size: 20px;
  }
}

.concept2_right .concept2_right_message-text {
  margin-top: 30px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .concept2_right .concept2_right_message-text {
    font-size: 14px;
    line-height: 1.7143;
  }
}

.contact {
  margin-top: 160px;
  background: transparent url(../img/contact.png) no-repeat center center/cover;
}

@media screen and (max-width: 767px) {
  .contact {
    margin-top: 96px;
  }
}

.contact .contact_inner {
  padding-bottom: 85px;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 767px) {
  .contact .contact_inner {
    padding-bottom: 57px;
    padding-left: 28px;
    padding-right: 28px;
  }
}

.contact .contact-title {
  color: #3EA1D1;
  padding-top: 72px;
}

@media screen and (max-width: 767px) {
  .contact .contact-title {
    padding-top: 57px;
  }
}

.contact .contact_form {
  margin-top: 56px;
}

@media screen and (max-width: 767px) {
  .contact .contact_form {
    margin-top: 46px;
  }
}

.contact .attention {
  font-size: 14px;
  letter-spacing: .1em;
  text-align: center;
}

.contact .attention-mark1 {
  font-size: 16px;
  color: #E7728E;
}

.contact dl {
  max-width: 510px;
  margin: 18px auto 0;
}

.contact dl .contact_item {
  padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .contact dl .contact_item {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .contact dl .contact_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact dl .contact_item:last-child {
  padding-bottom: 0;
}

.contact dl .contact_item_title {
  background: rgba(62, 161, 209, 0.7);
  color: #fff;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding-left: 6px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact dl .contact_item_title {
    display: inline-block;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .contact dl .contact_item_title {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media screen and (min-width: 768px) {
  .contact dl .contact_item_title::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -8px;
    border-style: solid;
    border-width: 20px 0 20px 8px;
    border-color: transparent transparent transparent rgba(62, 161, 209, 0.7);
  }
}

.contact dl .contact_item_title .attention-mark2 {
  font-size: 14px;
  color: #E7728E;
  letter-spacing: .1em;
  vertical-align: super;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .contact dl .contact_item_title .attention-mark2 {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contact dl .contact_item_form {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 320px;
        -ms-flex: 0 0 320px;
            flex: 0 0 320px;
    margin-left: 18px;
  }
}

.contact .form_name, .contact .form_email, .contact textarea {
  width: 100%;
  border: 0;
  font-size: 16px;
  padding: .2em .5em;
  -webkit-box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.16);
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .contact .form_name, .contact .form_email, .contact textarea {
    margin-top: 3px;
  }
}

.contact .form_name, .contact .form_email {
  height: 40px;
}

.contact textarea {
  min-height: 122px;
  resize: vertical;
}

.contact__radio {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #fff;
  border-radius: 1px;
  -webkit-box-shadow: 5px 5px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 5px 15px rgba(96, 96, 96, 0.16);
}

.contact__radio-item {
  position: relative;
}

.form-radio {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.form-radio:checked + .radio-btn-name {
  background: #3EA1D1B3;
  color: #fff;
  border-radius: 1px;
}

.form-radio:focus + .radio-btn-name {
  outline: -webkit-focus-ring-color auto 5px;
}

.radio-btn-name {
  display: block;
  background: #fff;
  color: #3EA1D1B3;
  height: 38px;
  line-height: 38px;
  width: 80px;
  text-align: center;
  -webkit-transition: background-color .4s, color .4s;
  transition: background-color .4s, color .4s;
}

.contact_checkbox {
  margin-top: 33px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .contact_checkbox {
    margin-top: 27px;
  }
}

.contact_checkbox a {
  color: #3EA1D1;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form_checkbox {
  display: none;
}

.form_checkbox + span {
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 50px;
  position: relative;
}

.form_checkbox + span::before, .form_checkbox + span::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form_checkbox + span::before {
  background: #fff;
  border: 1px solid #707070;
  display: block;
  left: 0;
  width: 25px;
  height: 25px;
}

.form_checkbox + span::after {
  border: 1px solid transparent;
  left: 0;
  width: 25px;
  height: 25px;
  background: transparent url(../img/icon-check.png) no-repeat center center/contain;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.form_checkbox:checked + span::after {
  opacity: 1;
}

.contact-privacy {
  position: relative;
  height: 22px;
  width: 22px;
  display: inline-block;
  vertical-align: middle;
}

.contact-privacy .form_checkbox1 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-privacy .form_checkbox1:checked + .contact-privacy-part {
  width: 10px;
  border-top: 0;
  border-left: 0;
  background-color: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -5px;
  left: 5px;
}

.contact-privacy .form_checkbox1:focus + .contact-privacy-part {
  outline: -webkit-focus-ring-color auto 5px;
}

.contact-privacy .form_checkbox1:checked:focus + .contact-privacy-part {
  outline: none;
}

.contact-privacy .contact-privacy-part {
  display: inline-block;
  height: 22px;
  width: 22px;
  border: 1px solid #3EA1D1;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.contact-privacy-link {
  color: #3EA1D1;
}

.btn-parent {
  margin-top: 40px;
}

.contact-message {
  text-align: center;
  margin-top: 60px;
  display: none;
}

.contact-message.-error {
  color: #f00;
}

.footer {
  color: #888888;
  background: #F7F7F7;
  padding: 42px 40px 12px;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 36px 0 14px;
  }
}

.footer-logo {
  width: 120px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer-nav-item + .footer-nav-item {
    margin-left: 30px;
  }
}

.footer-nav-list {
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .footer-nav-list {
    text-align: center;
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .footer-nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-nav-list .footer-nav-item-link {
  display: block;
  font-size: 12px;
  color: #333333;
  padding: 1em 0;
}

@media screen and (max-width: 767px) {
  .footer-nav-list .footer-nav-item-link {
    padding: .3em 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-nav-list .footer-nav-item-link {
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
  }
  .footer-nav-list .footer-nav-item-link:hover {
    opacity: .7;
  }
}

.footer-sns-list {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer-sns-list {
    margin-top: 14px;
  }
}

.footer-sns-item {
  display: inline-block;
}

.footer-sns-item-link {
  display: block;
  color: #3EA1D1;
  font-size: 24px;
  padding: .1em .5em;
}

@media screen and (min-width: 768px) {
  .footer-sns-item-link {
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
  }
  .footer-sns-item-link:hover {
    opacity: .7;
  }
}

.footer-copyright {
  color: #888;
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .footer-copyright {
    margin-top: 5px;
  }
}
/*# sourceMappingURL=style.css.map */